{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "ignoreRestSiblings": true,
        "varsIgnorePattern": "^_",
        "argsIgnorePattern": "^_"
      }
    ],
    "@typescript-eslint/default-param-last": [
      "error"
    ],
    "@typescript-eslint/member-delimiter-style": [
      "error",
      {
        "multiline": {
          "delimiter": "none"
        }
      }
    ],
    "default-param-last": "error",
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true
      }
    ],
    "prefer-spread": "error",
    "no-class-assign": "off",
    "no-shadow": "error",
    "no-nested-ternary": "error",
    "no-case-declarations": "off",
    "no-unused-expressions": 0,
    "require-await": "error",
    "eqeqeq": "error",
    "keyword-spacing": "error",
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "@typescript-eslint/no-namespace": "off",
    "no-redeclare": "off",
    "@typescript-eslint/no-redeclare": [
      "off"
    ]
  }
}